* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

body {
    padding: 0 10px;
    background: #aa429e
}

.slider {
    max-width: 600px;
    height: 400px;
    margin: 100px auto;
    position: relative;
}

.slider h1 {
    color: #eee;
    position: absolute;
    top: -70px;
    left: calc(50% - 128px);
    font-size: 50px;
    font-weight: normal;
    font-family: sans-serif
}

@media(max-width: 400px) {
    .slider h1 {
        font-size: 40px;
        top: -60px;
        left: calc(50% - 100px);
    }
}

.slider ul {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
    margin-top: 15px;
    list-style: none;
    perspective: 2000px;
    perspective-origin: 50% -200px;
}

.slider ul > li {
    width: 50%;
    height: 100%;
    position: absolute;
    transform-origin: center right;
    transition: all 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border: 10px solid rgba(229, 160, 228, .5);
    border-radius: 25px 0 0 25px;
    line-height: 400px;
    text-align: center
}

.slider ul > li:before,
.slider ul > li:after {
    content: "";
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slider ul > li:before {
    border-radius: 15px 0 0 15px;
}

.slider ul > li:after {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    border-radius: 0 15px 15px 0;
}

.open {
    transform: rotateY(180deg);
}

.slider > div {
    text-align: center;
    position: absolute;
    width: 100%;
    top: -75px
}

.slider .fa {
    cursor: pointer;
    color: #e5a0e4;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 10px;
    text-align: center;
    border: 2px solid #e5a0e4;
    border-radius: 10px;
    transition: all .2s ease-in-out;
    position: absolute
}

.slider .fa:first-of-type {
    left: 0
}

.slider .fa:last-of-type {
    right: 0
}

.slider .fa:hover,
.slider .fa.active {
    background: #e5a0e4;
    color: #fff
}

.slider ul > li:nth-child(1):after {
    background-image: url("https://via.placeholder.com/300.png/f43347/f43347")
}

.slider ul > li:nth-child(2):after {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k1.png")
}

.slider ul > li:nth-child(3):after {
    background-image: url("https://via.placeholder.com/300.png/f6b10b/f6b10b")
}

.slider ul > li:nth-child(4):after {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k2.png")
}

.slider ul > li:nth-child(5):after {
    background-image: url("https://via.placeholder.com/300.png/3bce8a/3bce8a")
}

.slider ul > li:nth-child(6):after {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k3.png")
}

.slider ul > li:nth-child(7):after {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k4.png")
}

.slider ul > li:nth-child(8):after {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k5.png")
}

.slider ul > li:nth-child(9):after {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k6.png")
}

.slider ul > li:nth-child(10):after {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k.png")
}

.slider ul > li:nth-child(1):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k7.png")
}

.slider ul > li:nth-child(2):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k8.png")
}

.slider ul > li:nth-child(3):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k9.png")
}

.slider ul > li:nth-child(4):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k10.png")
}

.slider ul > li:nth-child(5):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k1.png")
}

.slider ul > li:nth-child(6):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/k2.png")
}

.slider ul > li:nth-child(7):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/32670918-23BC-43BD-AA59-EA8B9FE140AD.jpeg")
}

.slider ul > li:nth-child(8):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/IMG_6557.png")
}

.slider ul > li:nth-child(9):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/1B4E832D-4D5D-4740-8DA8-C134F687750D.jpeg")
}

.slider ul > li:nth-child(10):before {
    background-image: url("https://raw.githubusercontent.com/damarmustikoaji/ka.mayzoura/master/images/4E1F98FC-5842-4427-A76B-32A99C741E37.jpeg")
}
